/* Web Programming Step by Step, Homework 9 (To-Do List) solution
   Please do not distribute! */

   body, input, select, option, button, a {
	color: #005AB4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

body, h1 {
	margin: 0;
	padding: 0;
}

fieldset{
	line-height: 1.8;
	border-radius: 20px;
	border-color: #005AB4;
	width:fit-content;
	background-color: rgb(207, 216, 233);
}

#error {
	color: red;
	font-weight: bold;

}
.headfoot {
	background-color: #005AB4;
	color: white;
	padding: 0.5em;
}
h1 img {
	float: left;
	margin-right: 1em;
}

#w3c img{
	width: 80px;
	height: 30px;

}
#main {
	margin: 2em;
}
.sortablelist {
	list-style-type:disc;
	padding: auto;
  }
#itemList{
	border-width: 3px;
	border-color: #005AB4;
	border-style:groove;
	border-radius: 40px;
	width: 25%;
	background-color:rgb(207, 216, 233);
	margin-bottom: 20px;
	margin-right: 20px;
}
#itemtext
	{
		width: 75%;
	}
.buttons{
	margin: 10px;
	display: block;
}

.container{
	display: flex;
}

/*The code that handles the mobile compatibility version*/
@media screen and (max-width: 768px) {
    body{
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
	#itemList{
		width:fit-content;
		margin-bottom: 10px;
	}
	.buttons{
		margin: 10px;
	}
	#itemtext
	{
		width: 75%;
	}
	.container{
		display: inline;
	}
}